<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <style>
      body {
        background-color: #343A40;
        color: beige;
      }
      .add-img {
        height: 213px;
        width: auto;
      }
    </style>
    {% load static %}
    <title>Auth</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <a class="navbar-brand" href="#">E-Diagnosis</a>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        {% if user.is_authenticated %}
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">{{user.username}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
          </ul>
          {% else %}
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login_url' %}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'register_url' %}">Register</a>
              </li>
            </ul>
        {% endif %}
      </div>
    </nav>
        
          {% block content %}
            <h1>Come the best and enjoy the rest!!</h1>
            <h2>Join Today!</h2>
          {% endblock %}
      

  </body>
</html>
