<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script>
        window.initializeCarousel = () => {
          $("carouselExampleIndicators").carousel({ interval: 500 });
        }
      </script>
      
      

    <style>
      body {
        background-color: #343A40;
        color: beige;
      }
      .add-img {
        height: 213px;
        width: auto;
      }
      .carousel-inner img {
      width: 100px;
      }
    </style>
    {% load static %}
    <title>Auth</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <a class="navbar-brand" href="#">E-Diagnosis</a>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        {% if user.is_authenticated %}
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard' %}">{{user.username}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
          </ul>
          {% else %}
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login_url' %}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'register_url' %}">Register</a>
              </li>
            </ul>
        {% endif %}
      </div>
    </nav>
        <div class="container">
          
          {% block content %}
            <h1>Come the best and enjoy the rest!!</h1>
            <h2>Join Today!</h2>
          {% endblock %}
          </div>
      

  </body>
</html>
